[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
